



.navbar{
    display: flex;
    flex-wrap:wrap;
    /* justify-content: flex-start; */
    /* justify-content: flex-end;1
     */
    /* justify-content: center; */

    justify-content: space-around;
    /* justify-content: space-evenly; */
    /* border: 2px solid black; */
    /* padding: 20px; */
}
#navbar-h1{
color: rgb(101, 101, 215);

    /* background-color: yellow; */
}

#navbar-links{
    display: flex;
    align-items: center;
    column-gap: 30px;
    /* padding: 0px 50px; */
    /* justify-content: space-between; */
    /* background-color: purple; */
}
#navbar-links > a{
    text-decoration: none;
    font-size: 20px;
text-transform: capitalize;
}

#contact{
    /* padding: 5px 20px 5px 20px; */
    padding: 5px 20px ;
    background-color: rgb(101, 101, 215);
    font-size: 20px;
    color: white;
    font-family: cursive;
}


.landingPage{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: center; */
}

.landingPage{
    display: flex;
    justify-content: center;
}
.landingPage >.landingPageText{
  /* width: 40%; */
  /* padding: 30px; */
  /* background-color: red; */
}



.landingPage > img {
    width: 40%;
    /* background-color: green; */
}

.landingPageText > h1{
    font-size: 56px;
}
.landingPageText > p{
    font-size: 1.3em;
}
.landingPageBtns{
    display: flex;
    /* column-gap: 20px; */
}
.landingPageText > .landingPageBtns > p{
    background-color: rgb(48, 137, 214);
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 10px;
   margin:  10px;
   box-shadow: 5px 5px 8px rgb(87, 81, 81);
}
